@model Gym_Project.Models.Attendance
@{
    Layout = "_LayoutAdmin";
}
@if (TempData["Mess"] != null)
{
	<div class="alert alert-danger" role="alert">
		@TempData["Mess"]
	</div>
}
@section naviheader {

	<!-- Left navbar links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="#" class="nav-link text-center"><b><h2>Attendance</h2></b> </a>
		</li>
	</ul>
}
<form asp-area="Admin" asp-controller="Attendance" asp-action="AddAttendance" enctype="multipart/form-data" method="post">
	<div class="card-body">
		<div class="bs-stepper-content">
			<div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
				<div class="form-group">
					<label for="Status">Attendance</label>
					<select asp-for="Status" class="form-control">
						<option value="">-- Select status --</option>
						<option value="true">Attendance</option>
					</select>
				</div>
				<div class="form-group">
					<label for="TrainerId">Trainer Name</label>
					<select asp-for="TrainerId" class="form-control">
						<option value="">--Select Choose a coach--</option>
						@foreach (var item in ViewBag.Trai)
						{
							<option value="@item.TrainerId">@item.TrainerName</option>
						}
					</select>
					<span class="text-danger">@Html.ValidationMessageFor(x => x.TrainerId)</span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Take attendance now</button>
				</div>
			</div>
		</div>
	</div>
</form>

