
@{

    Layout = "_LayoutAdminTrainer";
}
<div style="margin-left:35%;margin-top:100px;">
    <h1 style="color:chartreuse">Attendance successful</h1>
    <h3 style="color:red">Please do not take attendance twice in 1 day</h3>
    <div class="form-group">
        <a asp-action="ShowListAttendance" class="btn btn-danger">Exit</a>
    </div>
</div>
