@{
    Layout = "_Layout";
}

<div style="margin-left:35%;margin-top:100px;">
    <h1>FeedBack Success</h1>
    <p>Gym culture has become a significant aspect of modern society, <br> emphasizing physical fitness and health. Gyms offer a variety of  <br> equipment and classes tailored to different fitness goals, from weightlifting and cardio to yoga and Pilates. <br>

    One of the key attractions of gyms is the access to a wide range of  <br>equipment that might be expensive or impractical to have at home. <br> Treadmills, elliptical machines, free weights, resistance machines, and more provide options for  <br> individuals to work on strength, endurance, flexibility, and overall fitness. <br>

    Group fitness classes are another popular feature of many gyms. <br> These classes, led by certified instructors, offer structured workouts in a group setting, <br> fostering motivation and a sense of community among participants. Classes range from high-intensity  <br> interval training (HIIT) and spinning to dance-based workouts like Zumba and even  <br> mind-body practices like Tai Chi.

    Beyond the physical benefits,  <br> gyms can also provide mental and emotional benefits. Exercise is  <br> known to release endorphins, which can improve mood and reduce stress. <br> Additionally, the social aspect of going to the gym, whether through group  <br> classes or simply seeing familiar faces during workouts, can contribute  <br> to a sense of belonging and support.

    For some, the gym  <br> is a place of personal challenge and growth, pushing oneself to achieve fitness goals  <br> and surpass previous limits. For others, it's a place of relaxation  <br> and stress relief, offering a break from the demands of daily life. <br>

    Overall, gyms play a significant role in promoting health and wellness, <br> offering resources and support for individuals striving to lead healthier lifestyles.</p
    
    <div class="form-group">
        <a asp-controller="UserLayout" asp-action="ShowAddFeed" class="btn btn-danger">Exit</a>
    </div>
</div>
